.App{
  min-height: 1000vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}

.header{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.title{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 8px;
}

.title2{
  padding: 8px;
  text-align: center;
  color: black;
  font-size: 7px;
}

.btn-group button {
  background-color: lightcoral; 
  border: none;
  color: white; 
  padding: 13px 45px; 
  cursor: pointer; 
  float: left;
  position: relative;
  left: 36%;
  
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}


.btn:hover{
  background-color: #ff9a9e;
}
.btn1:hover{
  background-color: #ff9a9e;
}
.btn2:hover{
  background-color: #ff9a9e;
}



.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar{
width: 50%;
border: none;
padding: 10px;

}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

