.recipe{
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    text-align: center;
    width: 850px;
    /*margin-left: 300px;*/
    padding-bottom: 50px;
    height: 650px;
    

    float: left;
    width: 36%;
    content: "";
    display: table;
    /*clear: both;*/
    
}

.image{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

